.logo {
  display: inline;
  line-height: 0px;
}

.sider-title {
  color: whitesmoke;
  font-family: "Fjalla One", sans-serif;
  font-size: 18px;
  display: inline;
  margin: 15px;
}

.sider-title-div {
  display: inline-flexbox;
  text-align: center;
  line-height: 0px;
}
